.directions-section {
    margin-bottom: 107px;
}
.directions-section-heading {
    margin-bottom: 70px;
}
.directions-section-heading h1 {
    color: rgba(32, 32, 32, 1);
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}
.directions-section-heading p {
    color: rgba(32, 32, 32, 1);
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
.content-card {
    display: flex;
    height: 600px;
    border-radius: 100px;
    background: rgba(248, 248, 248, 1);
    perspective: 1000px;
}
.left-content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    padding: 48px 69px;
}
.column h3 {
    color: rgba(32, 32, 32, 1);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 34px;
}
.class-item {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    transition: background 0.2s, transform 0.2s;
    user-select: none;
}
.class-item:hover {
    background: rgba(0, 0, 0, 0.03);
    transform: translateX(4px);
}
.class-item.active {
    background: rgba(107, 95, 255, 0.1);
}

.class-item img {
    width: 48px;
    margin-right: 12px;
}
.math-highlight {
    flex: 1;
    border-radius: 100px;
    background: rgba(67, 97, 238, 1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}
.math-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.math_image {
    grid-row: span 3 / span 3;
    align-self: center;
}
.math_image img {
    width: 191px;
    opacity: 0.3;
}

.math_title {
    grid-column: span 2 / span 2;
    align-self: self-end;
}

.math_title img {
    /* max-width: 510px; */
    max-width: 100%;
    height: 58px;
}

.math_descr {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
    color: rgba(255, 255, 255, 1);

    font-family: Commissioner;
    font-size: 32px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
}

.math_age {
    grid-column-start: 2;
    grid-row-start: 3;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    align-self: center;
    text-decoration: underline;
}

.more-btn {
    grid-column-start: 3;
    grid-row-start: 3;
    /* Button 12 */
    width: 208px;
    height: 74px;
    text-align: center;
    line-height: 74px;
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 37px;
    cursor: pointer;
    align-self: center;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    transition: all 0.3s;
}
.more-btn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(67, 97, 238, 1);
}
#details-btn {
    background-color: none;
}

@keyframes cubeRotate {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(360deg);
        opacity: 1;
    }
}
@keyframes cubeRotate2 {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(-180deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(-360deg);
        opacity: 1;
    }
}

.math-highlight.rotating {
    animation: cubeRotate 0.5s ease;
}

@media screen and (max-width: 1440px) {
    .content-card {
        display: flex;
        flex-direction: column;
        min-height: 1000px;
    }
    .math-highlight {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .math-highlight.rotating {
        animation: cubeRotate2 0.5s ease;
    }
    .math_descr {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .content-card {
        display: none;
    }
    .directions-section-heading h1 {
        font-size: 32px;
    }
    .directions-section-heading p {
        font-size: 16px;
    }
}
