.first_class {
    overflow: hidden;
    width: 100%;
    min-height: 1446px;
    position: relative;
    padding: 82px 20px;
    background-color: #4d25eb;
    border-radius: 100px;
    margin-bottom: 50px;
}

.first_class h2 {
    font-size: 105px;
    font-weight: 800;
    line-height: 108px;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    margin-bottom: 85px;
}

.first_class h2 span {
    color: #cdff07;
}

/* Ваш первоначальный first_class_top */
.first_class_top {
    display: flex;
    justify-content: center;
    gap: 39px;
}

.rect_card {
    width: 709px;
    height: 272px;
    border-radius: 50px;
    background: rgba(60, 26, 197, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
}

.rect_image {
    margin-right: 34px;
    width: 220px;
}

.rect_image img {
    height: 100%;
}

.rect_info {
}

.rect_title {
    color: white;
    font-size: 48px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 19px;
}

.rect_text {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.middle_title {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 17px;
}

.middle_subtitle {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: center;
}

.first_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form-container {
    width: 608px;
}

.form-group {
    width: 100%;
    margin-bottom: 14px;
}

.form-group input {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    border: 1px solid rgba(208, 208, 208, 1);
    border-radius: 40.5px;
    background: rgba(255, 255, 255, 1);
    padding-left: 45px;
    color: rgba(142, 142, 142, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.submit-button {
    width: 100%;
    height: 80px;
    border-radius: 40.5px;
    background: rgba(205, 255, 7, 1);
    color: rgba(32, 32, 32, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    margin-bottom: 30px;
}

.checkbox-container {
}

.checkbox-container label {
    color: rgba(248, 249, 250, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.checkbox-container input {
    margin-left: 25px;
}

.first_class_img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 714px;
}

.first_class_img img {
    width: 100%;
}

/* Адаптивность - только добавляем медиа-запросы */

/* Laptop L - 1440px */
@media screen and (max-width: 1440px) {
    .first_class_top {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .rect_card {
        width: 90%;
        max-width: 900px;
    }

    .rect_title {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .rect_text {
        font-size: 18px;
    }
}

/* Laptop - 1024px */
@media screen and (max-width: 1024px) {
    .first_class h2 {
        font-size: 80px;
        line-height: 85px;
    }

    .middle_title {
        font-size: 50px;
        line-height: 55px;
    }

    .first_bottom {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .form-container {
        width: 90%;
        max-width: 500px;
    }

    .first_class_img {
        max-width: 500px;
    }
}

/* Tablet - 768px */
@media screen and (max-width: 768px) {
    .first_class {
        min-height: auto;
        padding: 50px 15px;
        border-radius: 50px;
    }

    .first_class h2 {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 40px;
    }

    .rect_card {
        height: auto;
        min-height: 200px;
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
        width: 95%;
    }

    .rect_image {
        margin-right: 0;
        margin-bottom: 20px;
        width: 150px;
    }

    .rect_image img {
        width: 100%;
        height: auto;
    }

    .rect_title {
        font-size: 32px;
        text-align: center;
        margin-bottom: 15px;
    }

    .rect_text {
        font-size: 16px;
        text-align: center;
        line-height: 1.4;
    }

    .middle_title {
        font-size: 36px;
        line-height: 40px;
        margin-top: 60px;
        margin-bottom: 15px;
    }

    .middle_subtitle {
        font-size: 22px;
        line-height: 26px;
    }

    .form-group input {
        height: 65px;
        font-size: 18px;
        padding-left: 30px;
    }

    .submit-button {
        height: 65px;
        font-size: 20px;
    }

    .checkbox-container label {
        font-size: 16px;
    }
}

/* Mobile L - 425px */
@media screen and (max-width: 425px) {
    .first_class {
        padding: 40px 10px;
        border-radius: 30px;
    }

    .first_class h2 {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 30px;
    }

    .rect_card {
        padding: 25px 15px;
        border-radius: 30px;
    }

    .rect_image {
        width: 120px;
    }

    .rect_title {
        font-size: 24px;
    }

    .rect_text {
        font-size: 14px;
    }

    .middle_title {
        font-size: 28px;
        margin-top: 40px;
    }

    .middle_subtitle {
        font-size: 18px;
    }

    .form-group input {
        height: 55px;
        font-size: 16px;
        padding-left: 25px;
    }

    .submit-button {
        height: 55px;
        font-size: 18px;
    }

    .checkbox-container {
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    .checkbox-container input {
        margin-left: 0;
        margin-top: 3px;
    }

    .checkbox-container label {
        font-size: 14px;
        line-height: 1.3;
    }
}

/* Mobile M - 375px */
@media screen and (max-width: 375px) {
    .first_class {
        padding: 30px 8px;
    }

    .rect_card {
        padding: 20px 12px;
    }

    .rect_image {
        width: 100px;
    }

    .rect_title {
        font-size: 22px;
    }

    .form-group input {
        height: 50px;
        padding-left: 20px;
    }

    .submit-button {
        height: 50px;
    }
}
