.hobbye-card {
    background: rgba(251, 251, 251, 1);
    border-radius: 40px;
    padding: 50px 0px 50px 60px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 46%;
    height: 380px;
}
.hobbye-card-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card_hobbyes {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_hobbyes img {
    height: 253px;
    margin: 0;
    text-align: center;
}
.card-title-hobbye {
    display: flex;
    align-items: center;
    gap: 20px;
}
.card-title_hobbye_name {
    height: 58px;
    margin-bottom: 12px;
}
.card-title_hobbye_icon {
    max-width: 100px;
}

@media screen and (max-width: 1440px) {
    .hobbye-card {
        height: 320px;
        padding: 35px 40px;
    }
    .card_hobbyes {
        width: 155px;
    }
}
/* Laptop */
@media screen and (max-width: 1024px) {
    .hobbye-card {
        width: 96%;
        margin: 0 auto;
        border-radius: 20px;
    }
    .card_hobbyes img {
        margin: 0px;
    }
}
/* Tablet */
@media screen and (max-width: 768px) {
    .hobbye-card {
        width: 96%;
        padding: 20px 25px;
    }
    .card_hobbyes img {
        width: 150px;
        margin-right: -30px;
    }
    .card-title-hobbye {
        height: 35px;
        margin-bottom: 10px;
    }
    .card-title_hobbye_name {
        width: 200px;
    }
    .card-title_hobbye_icon {
        width: 48px;
    }
}
/* Mobile L */
@media screen and (max-width: 500px) {
    .hobbye-card {
        height: 200px;
        padding-right: 0;
    }
    .card_hobbyes img {
        width: 102px;
        margin-left: -50px;
    }
    .card-title-hobbye {
        gap: 5px;
    }
    .card-title_hobbye_name {
        width: 90px;
    }
    .card-title_hobbye_icon {
        width: 25px;
    }
    .hobbye-card .card_links .card-btn-more {
        margin-left: 10px;
    }
    .card_links_reverse {
        flex-direction: row-reverse;
    }
}
