.issub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 174px;
    margin-bottom: 110px;
}
.issub-item {
    position: relative;
    width: 24%;
    height: 417px;
    border-radius: 100px;
    background: rgba(248, 248, 248, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 10px 20px;
}
.issub_text {
    /* flex: 1; */
    text-align: center;
}
.issub-image {
    height: 300px;
    margin-top: -100px;
    margin-bottom: 30px;
}
.issub-item-title {
    color: rgba(32, 32, 32, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 12px;
}
.issub-item-subtitle {
    color: rgba(32, 32, 32, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

@media (max-width: 1280px) {
    .issub {
        flex-wrap: wrap;
        gap: 20px;
    }
    .issub-item {
        position: relative;
        width: 48%;
        max-height: 300px;
        flex-direction: row;
        padding: 10px 40px;
        gap: 20px;
    }
    .issub-item_reverse {
        flex-direction: row-reverse;
    }
    .issub_text {
        /* flex: 1; */
        text-align: left;
    }
    .issub-image {
        height: 200px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
/* Laptop */
@media screen and (max-width: 1024px) {
    .issub {
        margin-top: 104px;
        margin-bottom: 70px;
    }
    .issub-item {
        width: 98%;
        margin: 0 auto;
        border-radius: 30px;
    }
    .issub-item:nth-child(2) {
        flex-direction: row-reverse;
    }
    .issub-item:nth-child(2) {
        flex-direction: row-reverse;
    }

    .issub-item:nth-child(3) {
        flex-direction: row;
    }
    .issub-image-flip {
        transform: rotateY(180deg);
    }
}
/* Tablet */
@media screen and (max-width: 768px) {
    .issub-item {
        padding: 10px 15px 10px 15px;
        border-radius: 25px;
    }

    .issub-item-title {
        font-size: 20px;
        line-height: 19px;
    }
    .issub-item-subtitle {
        font-size: 15px;
    }
    .issub {
        margin-top: 74px;
        margin-bottom: 50px;
    }
}
/* Mobile L */
@media screen and (max-width: 425px) {
    .issub-item {
        height: 150px;
    }
    .issub-item-title {
        font-size: 16px;
        line-height: 15px;
    }
    .issub-item-subtitle {
        font-size: 12px;
        line-height: 12px;
    }
    .issub-image {
        height: 100px;
    }
    .issub {
        gap: 10px;
        margin-top: 22 px;
        margin-bottom: 30px;
    }
}
