.teacher_header {
    width: 1720px;
    height: 652px;
    border-radius: 100px;
    box-shadow: 0px 40px 60px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    padding: 127px 166px;
    background-position: right bottom;
    background-size: 565px 593px;
    background-repeat: no-repeat;
}
.teacher_subject {
    max-width: 747px;
    font-size: 105px;
    font-weight: 800;
    line-height: 108px;
    margin-bottom: 60px;
}
.teacher_fullname {
    max-width: 747px;
    font-size: 48px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 14px;
}
.teacher_description {
    max-width: 700px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}
